@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'NEXON Lv1 Gothic OTF';
}

a{
	text-decoration: none;
	color: #000000;
}

#header{
	position: relative;
	height: 13%;
	background: #F2F2F2;
}

#headerImg{
	margin: 1%;
	height: 75%;
}

.bold{
	font-weight: bold;
}

@media (orientation: landscape){
	body{
		font-size: 1.3vw;
	}
	
	p{
		margin: 2%;
	}
	
	table, td{
		margin: 2%;
		width: 30%;
		border: 1px solid #000000;
		border-collapse: collapse;
		padding: 5%;
		font-size: 1.3vw;
		text-align: center;
	}
	
	#warning{
		margin: 3%;
		color: #FA5858;
	}
	
	#filmIcon{
		margin: 2% 1%;
		height: 10%;
	}
	
	#filmIconSmall{
		margin: 2% 1% -0.8% 0%;
		height: 5%;
	}
	
	#smallIcon{
		margin: 1% 0.5% -0.5% 0%;
		height: 4%;
	}
	
	#smallFilmIcon{
		margin: 1% 1% -0.8% 0%;
		height: 5%;
	}
	
	#location{
		margin: 2% 1% -1% 0%;
		height: 5%;
	}
	
	#img{
		margin: 1%;
		width: 70%;
	}
	
	#footer{
		margin: 5% 0%;
		height: 10%;
		color: #D8D8D8;
	}
}

@media (orientation: portrait){
	body{
		font-size: 2.5vh;
	}
	
	p{
		margin: 5%;
	}
	
	table, td{
		margin: 5%;
		width: 50%;
		border: 1px solid #000000;
		border-collapse: collapse;
		padding: 5%;
		font-size: 2.5vh;
		text-align: center;
	}
	
	#warning{
		margin: 10%;
		color: #FA5858;
	}
	
	#filmIcon{
		margin: 5% 1%;
		height: 10%;
	}
	
	#filmIconSmall{
		margin: 5% 2% -2.5% 0%;
		height: 5%;
	}
	
	#smallIcon{
		margin: 4% 2% -2% 0%;
		height: 4%;
	}
	
	#smallFilmIcon{
		margin: 4% 3% -3% 0%;
		height: 5%;
	}
	
	#img{
		margin: 1%;
		width: 100%;
	}
	
	#footer{
		margin: 10%;
		height: 10%;
		color: #D8D8D8;
	}
}