@media (orientation: landscape){
	table, td{
		margin: 2%;
		border: 1px solid #000000;
		border-collapse: collapse;
		padding: 5%;
		font-size: 1.3vw;
	}
}

@media (orientation: portrait){
	table, td{
		margin: 5%;
		border: 1px solid #000000;
		border-collapse: collapse;
		padding: 10px;
		font-size: 2.5vh;
	}
}